@charset "utf-8";

.new-image-title{
  font-size:40px;
}

.precaution{
  border:solid 1px black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-button{
  margin: 20px;
}

.twitter-share-button{
  background-color: #55acee;
  color: white;
}

.twitter-share{
  padding:10px;
  margin:10px;
}

p {
  font-size: 18px;
}

img {
  width: 100%;
}

.btn-tag{
  margin-bottom:5px;
}

.red {
  color: red;
}

.navbar {
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position:fixed;
  top:0px;
  z-index:10;
}

.top-space{
  height:60px;
}

footer{
  padding: 10px;
  margin: 10px;
  border-top: 1px solid #dddddd;
}