<div class="text-center">
  <h2>解析失敗画像</h2>
</div>
<% unless @image_false.blank? %>
  <%= render "images/images", images: Kaminari.paginate_array(@image_false).page(params[:page]).per(4)  %>
  
  <% else %>
  <br>
  <p>解析失敗画像がまだありません</p>
    
<% end %>