<% unless logged_in? %>
  <%= render "layouts/SNS_login" %>
<% end %>

<div class="text-center">
  <h2>同じタグが多く付いている画像</h2>
</div>

<% @same_tag_images = Image.find(@image.same_tag_images.keys) %>

<%= render "images/images", images: Kaminari.paginate_array(@same_tag_images).page(params[:page]).per(5)  %>
