  <div class="container text-center footer-share-button">
    <p class="text-muted">このアプリをシェアする</p>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="ArtificialGallery" data-url="https://artificial-gallery.herokuapp.com"　data-hashtags="ArtificialGallery,AI,DeepLearning" data-show-count="false"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fartificial-gallery.herokuapp.com%2F&layout=button_count&size=large&mobile_iframe=false&width=87&height=28&appId" width="87" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
  </div>