
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
  　  <div class="panel panel-default panel-body sns-login">
        <div class="text-center">
           <p>SNSアカウントで登録/ログインして画像解析を始めよう！</p>
          <%= link_to '/auth/twitter', class: "btn btn-social btn-twitter" do %>
            <span class="fa fa-twitter"></span> Twitter
          <% end %>
        <%= link_to '/auth/facebook', class: "btn btn-social btn-facebook" do %>
          <span class="fa fa-facebook"></span> Facebook
        <% end %>
      </div>
    </div>
  </div>
</div>
